<!DOCTYPE html>
<html>
<head th:replace="includes/layout :: head"></head>
<body>
	<div th:replace="includes/layout :: navbar"></div>

	
	<div class="container mt-4">
        <div class="row">
            <div th:each="residencia : ${residencias}" class="col-md-6">
                <img th:src="@{'/recursos/'+${residencia.imagen}}" alt="Imagen del Hotel" class="img-fluid">
            </div>
            <div th:each="residencia : ${residencias}" class="col-md-6">
                <h3 th:text="${residencia.nombre}"></h3>
                <p><strong>Categoría:</strong> <span th:text="${residencia.categoria}"></span></p>
                <p><strong>Descripción:</strong> <span th:text="${residencia.descripcion}"></span></p>
                <p><strong>Estado:</strong> <span th:text="${residencia.estado}"></span></p>
                <p><strong>Precio:</strong> <span th:text="${residencia.precio}"></span></p>
                <p><strong>Ubicación:</strong> <span th:text="${residencia.ubicacion}"></span></p>
                <a th:href="@{'/reservar/' + ${residencia.id}}" class="btn btn-primary mt-3">Reservar Ahora</a>
            </div>
        </div>
    </div>


</body>
</html>