<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/layout :: head"></head>
<body>

    <div th:replace="includes/layout :: navbar-ver-habitaciones-residencia"></div>
    
    
    
    
    <div class="container">
    <h2 class="text-center my-4 font-weight-bold">Habitaciones por residencia</h2>

    <table class="table mt-4 table-striped">
        <thead>
            <tr>
						<th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                    <tr th:each="habitacion : ${habitaciones}">
                        <td th:text="${habitacion.id}">1</td>
                        <td th:text="${habitacion.nombre}">Nombre</td>
                        <td th:text="'$' + ${habitacion.precio}">Precio</td>
                        <td th:text="${habitacion.estado}">Estado</td>
                        <td th:text="${habitacion.usuario.userName}">Usuario</td>
                        <td>
                        <!-- Botón de editar -->
                        <a th:href="@{'/habitacion/editar/' + ${habitacion.id}}" class="btn btn-warning btn-sm">Editar</a>
                        <!-- Botón de eliminar -->
                        <a th:href="@{'/habitacion/eliminar/' + ${habitacion.id} + '?usuarioId=' + ${habitacion.usuario.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        
                    	</td>
                    </tr>
        </tbody>
    </table>
</div>
</body>
</html>