<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AdminHotelStiven</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!-- NAVBAR USUARIO -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003B95;">
		    <a class="navbar-brand" href="/">
		        <img th:src="@{/img/logo.png}" alt="HotelStiven" width="30" height="30" class="d-inline-block align-text-top">
		        HotelStiven
		    </a>
		
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav ml-auto">
		            <!-- Aquí está el idioma -->
		            <li class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
		                    aria-expanded="false">
		                    <img th:src="@{/img/idioma.png}" alt="Dropdown" width="20" height="20"
		                        style="margin-right: 5px;">Idioma
		                </a>
		                <div class="dropdown-menu">
		                    <a class="dropdown-item" th:href="@{/(lang=es)}">Español</a>
		                    <a class="dropdown-item" th:href="@{/(lang=en)}">Inglés</a>
		                </div>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/admin/ver-residencias">Admin</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/">[[#{nav.inicio}]]</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#nosotros">Nosotros</a>
		        	</li>
		        	<li class="nav-item">
		                <a class="nav-link" href="/usuario/ver-reserva">Ver reserva</a>
		        	</li>
		        	<li class="nav-item">
		                <a class="nav-link" href="/login">Iniciar sesión</a>
		        	</li>
		        	<form th:action="@{/logout}" method="post">
		        <button type="submit" class="btn btn-danger mt-3">Cerrar sesión</button>
		    </form>
		        </ul>
		    </div>
		</nav>
	</div>
	
	<!-- NAVBAR ADMIN -->
	<div th:fragment="navbar-admin">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003B95;">
		    <a class="navbar-brand" href="/">
		        <img th:src="@{/img/logo.png}" alt="HotelStiven" width="30" height="30" class="d-inline-block align-text-top">
		        HotelStiven
		    </a>
		
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav ml-auto">
		            <!-- Aquí está el idioma -->
		            <li class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
		                    aria-expanded="false">
		                    <img th:src="@{/img/idioma.png}" alt="Dropdown" width="20" height="20"
		                        style="margin-right: 5px;">Idioma
		                </a>
		                <div class="dropdown-menu">
		                    <a class="dropdown-item" th:href="@{/(lang=es)}">Español</a>
		                    <a class="dropdown-item" th:href="@{/(lang=en)}">Inglés</a>
		                </div>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/">Inicio</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/admin/ver-residencias">Ver residencias</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/admin/crear-residencia">Crear residencia</a>
		            </li>

		        	<form th:action="@{/logout}" method="post">
		        <button type="submit" class="btn btn-danger mt-3">Cerrar sesión</button>
		    </form>
		        </ul>
		    </div>
		</nav>
	</div>
	
	<!-- NAVBAR INICIAR SESION Y REGISTRARSE -->
	<div th:fragment="navbar-iniciar-registrar">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003B95;">
		    <a class="navbar-brand" href="/">
		        <img th:src="@{/img/logo.png}" alt="HotelStiven" width="30" height="30" class="d-inline-block align-text-top">
		        HotelStiven
		    </a>
		
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav ml-auto">
		            <!-- Aquí está el idioma -->
		            <li class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
		                    aria-expanded="false">
		                    <img th:src="@{/img/idioma.png}" alt="Dropdown" width="20" height="20"
		                        style="margin-right: 5px;">Idioma
		                </a>
		                <div class="dropdown-menu">
		                    <a class="dropdown-item" th:href="@{/(lang=es)}">Español</a>
		                    <a class="dropdown-item" th:href="@{/(lang=en)}">Inglés</a>
		                </div>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/">Inicio</a>
		            </li>
		        </ul>
		    </div>
		</nav>
	</div>
    




	<!-- FOOTER -->
	<footer th:fragment="footer" class="footer mt-3 py-3 bg-dark text-white">
	    <div class="container text-center">
	        <span>© 2024 HotelStiven. Todos los derechos reservados.</span>
	    </div>
	</footer>
</body>
</html>